<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端更好的适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <title>博客管理</title>
</head>
<body>
    <!--导航开始--------------------------------------------->
    <nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-mini m-shadow-small" >

    </nav>
    <!--导航结束---------------------------------------------->


    <!--中间内容开始------------------------------------------>
    <div  class="m-container-small m-padded-large main-content">
        <div class="ui container">
            <!--中间内容上面的开搜索始 ---->
           <div class="ui container">
               <div class="ui message success large">
                   <h2>Hi,欢迎登陆</h2>
               </div>
           </div>


        </div>
    </div>
    <!--中间内容结束------------------------------------------>

    <footer th:replace="admin/_fragments :: footer" >

    </footer>
<script src="/dist/jquery/jquery-3.4.1.min.js"></script>
<script src="/dist/semantic/semantic.min.js"></script>
<script>
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
</script>
</body>
</html>