<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端更好的适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/typo.css">
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/lib/prism/prism.css">
    <link rel="stylesheet" href="/lib/tocbot/tocbot.css">
    <title>博客详情</title>
</head>
<body>
    <!--导航开始--------------------------------------------->
    <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-mini m-shadow-small">

    </nav>
    <!--导航结束---------------------------------------------->


    <!--中间内容开始------------------------------------------>
    <div id="waypoint" class="m-container-small m-padded-large main-content">
        <div class="ui container animated bounceInLeft">
            <!--中间内容头部信息开始-->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
<!--                        <img src="/images/me.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image"/>-->
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">撑撑怪</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-10-22</span>
                    </div>
<!--                    <div class="item">-->
<!--                        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>-->
<!--                    </div>-->
                </div>
            </div>
            <!--中间内容头部信息结束-->

<!--            &lt;!&ndash;中间内容图片开始&ndash;&gt;-->
<!--            <div class="ui attached segment">-->
<!--                <img src="/images/test1.jpg"  th:src="@{${blog.first_picture}}"  alt="" class="ui fluid rounded image">-->
<!--            </div>-->
<!--            &lt;!&ndash;中间内容图片结束&ndash;&gt;-->

            <!--中间内容博客内容开始-->
            <div class="ui attached padded segment">
                <div class="ui right aligned basic segment">
                    <div class="ui green basic label" th:text="${blog.flag}">转载</div>
                </div>
                <h2 class="ui center aligned header" th:text="${blog.title}">关于刻意练习的清单</h2>
                <!--博客具体内容-->
                <div id="m-id-content" class="typo typo-selection js-toc-content m-padded-left-right-responsive m-padded-large" th:utext="${blog.content}">



                </div><br>
                <!--赞赏-->
                <div class="ui center aligned basic segment" th:if="${blog.appreciation}">
                    <button id="m-pay-button-id" class="ui orange basic circular button">赞赏</button>
                </div>
                <div class="ui m-pay-q flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img src="/images/pay.jpg" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img src="/images/wechat.png" alt="" class="ui rounded bordered image"  style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--中间内容博客内容结束-->

            <!--中间内容博客其他信息开始-->
            <div id="goto" class="ui attached positive message" th:if="${blog.shareStatement}">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：<span th:text="${blog.user.nickname}">朱一鸣</span><a href="#" th:href="@{/about}" target="_blank">（联系作者）</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-03-02 10:48</span></li>
                            <li>版权声明：自由转载-非商用-非衍生-保持署名</li>
                            <li>转载：请在文末添加博客链接</li>
                        </ui>
                    </div>
                </div>
            </div>
            <!--中间内容博客其他信息结束-->
            <div  class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!--中间内容留言区域开始-->
                <div id="comment-container" class="ui segment">
                    <div th:fragment="commentList">
                    <!--中间内容留言区域列表-->
                        <div class="ui comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">评论区</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="/images/head.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span th:text="${comment.nickname}">Matt</span>

                                    </a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">太赞了！</div>
                                    <div class="actions">
                                        <a class="reply" th:attr="data-commentid=${comment.id},data-nickname=${comment.nickname}" data-commentid="1" data-nickname="Matt" onclick="reply(this)">回复</a>
                                    </div>
                                </div>

                                <!--子集评论-->
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="/images/head.jpg">
                                        </a>
                                        <div class="content">
                                            <a class="author" >
                                                <span th:text="${reply.nickname}">小红</span>
                                     
                                                &nbsp;
                                                <span class="m-teal">@</span>
                                                <span th:text="${reply.parentNickname}" class="m-teal">@ 小白</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                                <a class="delete" href="#" th:href="@{/comment/{param1}/{param2}/delete(param1=${reply.blogId},param2=${reply.id})}" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
<!--                                                <a class="delete" href="#" th:href="@{/comment/{id}/delete(id=${reply.id})}" onclick="return confirm('确定要删除该评论吗？')" th:if="${session.user}">删除</a>-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comment-form" class="ui form">
                        <input type="hidden" name="blog.id" th:value="${blog.id}">
                        <input type="hidden" name="parentComment.id" value="-1">
                        <div class="field">
                            <textarea name="content" placeholder="请输入评论信息 ... "></textarea>
                        </div>
                        <div class="fields">
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="姓名" th:value="${session.user}!=null ? ${session.user.nickname}" >
                                </div>
                            </div>
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}">
                                </div>
                            </div>
                            <div class="field m-margin-bottom-small m-mobile-wide">
                                <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                            </div>
                        </div>
                </div>
            <!--中间内容留言区域结束-->
            </div>
        </div>
    </div>
    <!--中间内容结束------------------------------------------>


    <!-- 右边小工具条开始  ---------------->
    <div id="toolbar" class="m-padded-all m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc-button grey button">文章目录</button>
            <a href="#comment-container" class="ui grey button">留言</a>

            <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i> 回到首部</div>
        </div> 
    </div>
    <div class="ui toc-comtainer flowing popup transition hidden" style="width: 300px !important;">
        <ol class="js-toc">
            
        </ol>
    </div>
    <div id="qrcode" class="ui wechatRead flowing popup transition hidden" style="width: 130px !important">
        <!-- <img src="./static/images/wechat.png" class="ui rounded image" style="width: 100px" /> -->
    </div>
    <!-- 右边小工具条结束  ---------------->

    <!--底部内容开始-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-massive">

    </footer>
    <!--底部内容结束------------------------------------------>

<script src="/dist/jquery/jquery-3.4.1.min.js"></script>
<script src="/dist/semantic/semantic.min.js"></script>
<script src="/lib/scrollTo/scrollTo.min.js"></script>
<script src="/lib/prism/prism.js"></script>
<script src="/lib/tocbot/tocbot.js"></script>
<script src="/lib/qrcode/qrcode.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script>
    $('.m-menu.m-toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#m-pay-button-id').popup({
       popup : $('.m-pay-q.popup'),
        on : 'click',
        position: 'bottom center'
    });

    /* 初始化文章目录 */
    tocbot.init({
      // 指定在哪放置这个文章目录
      tocSelector: '.js-toc',
      // 需要指定为哪个里面的内容生成目录
      contentSelector: '.js-toc-content',
      // 指定生成的级别
      headingSelector: 'h1, h2, h3, h4',
      // For headings inside relative or absolute positioned containers within content.
      hasInnerContainers: true
    });

    $('.toc-button').popup({
       popup : $('.toc-comtainer.popup'),
        on : 'click',
        position: 'left center'
    });

    var qrcode = new QRCode("qrcode", {
        text: "http://jindo.dev.naver.com/collie",
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function() {
        $(window).scrollTo(0,800);
    });





    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的名称'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load("[[@{/comments/{id}(id=${blog.id})}]]");
    });

    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    function postData(){
        var url = '/comments';
        console.log(url);
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/url,{
            "parentCommentId":$("[name='parentComment.id']").val(),
            "blogId":$("[name='blog.id']").val(),
            "nickname":$("[name='nickname']").val(),
            "email":$("[name='email']").val(),
            "content":$("[name='content']").val()
        },function (responseTxt,statusTxt,xhr) {
            $(window).scrollTo($('#goto'),500);
            clearContent();
            //滚动到最上面的评论
        })
    }

    function clearContent() {
        $("[name='nickname']").val('');
        $("[name='email']").val('');
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }


</script>
</body>
</html>